# Jupyter
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# LaTeX / PDF
*.aux
*.log
*.out
*.tex
*.toc

# Python
__pycache__/
*.py[cod]

# Entornos virtuales
.venv/
venv/
env/

# Sistema operativo
.DS_Store
Thumbs.db