# Jupyter
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# LaTeX / PDF
*.aux
*.log
*.out
*.tex
*.toc

# Python
__pycache__/
*.py[cod]

# Entornos virtuales
.venv/
venv/
env/

# Sistema operativo
.DS_Store
Thumbs.db
# Datasets y datos generados
MNIST_data/
F_MNIST_data/
cactus_dataset/
*.zip

# Modelos y checkpoints generados
*.pth
*.pt

# Archivos temporales de entrenamiento
runs/
logs/
